.styled-btn{
    border: 1px solid black;
    font-weight: 900;
    color: blue;
    background-color: antiquewhite;
}

.styled-btn:hover{
    color: red;
    border-radius: 15px;
<<<<<<< HEAD
}
=======
}


>>>>>>> 962bd71b1d8ad7d04033db0c4531a794a437363f
