.portfolio {
    background-color: white;
    width: 60vw;
    padding: 2rem;
    border-radius: 10px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.add-coin{
    font-weight: 600;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: row;
    
}

.inputFields{
    border-radius: 25px;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: lightgray;
    padding: 2%;
    padding-left: 5%;
}
button {
    border: 1px solid grey;
    background-color: rgb(255, 103, 103);
    color: white;
    border-radius: 15px;
    font-weight: 900;
}
.addCoinBtn{
    padding: 0.4rem;
    font-size: 1rem;
}
.textWarning{
    color:white;
    background: rgb(255, 103, 103);
}
.submitBtn{
    position: relative;
    padding: 0.5rem;
    font-size: 1rem;
    left: 10%;
    margin-top: 5rem;
}

button:hover{
    background-color: rgb(255, 50, 50);
}

input {
    border: 0;
    outline: 0;
    background: white;
    text-align: center;
    width:40%;
    
}
div input + input{
    margin-left: 15%;
}


.assets{
    width: 100%;
    background:white;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.background-color{
    background: rgb(255, 103, 103);
    padding: 10%;
    width:100%;
    border-radius: 20px;
    margin-top: 5%;
}

.centerText{
    text-align: center;
}
.totalVal{
    font-size: 2.5rem;
}
.viewPortfolio{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;

}

.assets{
    width: 100%;
    background:white;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Phones Portrait*/
@media (min-width: 320px) and (max-width: 480px){
    #game-name-creator {
        width: 95%;
        border: 1px solid black;
        box-shadow: 1px 1px 1px 0px black;
        border-radius: 25px;
        text-align: center;
    }
    .game-information {
        background-color: gray;
        width: 85%;
        height: fit-content;
        font-size: medium;
        box-shadow: 0px 5px 5px 10px rgba(0,0,0,.15);
        border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
         margin-left: auto;
        padding-bottom: 2rem;
        text-align: center;
    }
    #game-players {
        position: relative;
        margin-bottom: 3rem;
        bottom: 0%;
        margin-right: auto;
        width: 100%;
    }

    .rules {
        position: relative;
        bottom: 0%; 
        background: gray;
        width: 85%;
         margin-right: auto;
    }

    #number{
        font-size: 2rem;
    }
    #gameId {
        position: relative;
        left: 20%;
        background: rgb(255, 103, 103);
        font-size: 2rem;
        top: 27rem;
    }
    .portfolio{
        width:100%;
        padding: 1rem;
    }
    .add-coin{
        font-size: 0.8rem;
    }
  }