#game-info{
    display: inline-block;
    width: 80vw;
    height: fit-content;
}

#info{
    height: 100vh;
}

#game-info div{
    margin-bottom: 2rem; 
}

#game-name-creator{
    width: 100%;
    margin-bottom: 5%;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 0px black;
    border-radius: 25px;
    text-align: center;
}
#number{
    font-size: 3rem;
}
.game-information{
    background-color: lightsteelblue;
    width: 27%;
    height: 95%;
    font-size: larger;
    box-shadow: 0px 5px 5px 10px rgba(0,0,0,.15);
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    margin-left: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}

.game-information h2{
    color: black;
    background-color: rgb(235, 235, 235);
}
#game-players{
    position: relative;
    margin-bottom: 3rem;
    bottom: 90%;
    margin-right: 0.5rem;
    width: 60%;
}
.rules{
    position: relative;
    bottom: 72%;
    background: lightsteelblue;
    width: 60%;
    margin-right: 0.5rem;
    box-shadow: 0px 0px 5px 10px rgba(0,0,0,.15);
    border-radius: 0%;
    padding: 1rem;
}
#leaderboard{
    border: 1px solid black;
    border-radius: 3px;
}

#portfolio-btns{
    float: right;
}

.edit-portfolio-btn{
    margin-right: 1rem;
    cursor: pointer;
}

.view-portfolio-btn{
    margin-right: 1rem;
    cursor: pointer;
}
#gameId{
    position: relative;
    
    background:  rgb(255, 103, 103);
    font-size: 2rem;
    top: 2rem;
}