.profile-pic{
    border: 2px solid black;
    border-radius: 50%;
} 

.profile{
    height: fit-content;
    color:white;
    width: 100%;
    padding: 2rem;
    
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    position: relative;
    width: 10vw;
    min-height: 200px;
    margin-right: 40px;
    background: #4089F6;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 5px 5px rgba(0,0,0,.15);
    transition: all .4s ease;
    padding-left: 19px;
    padding-right: 19px;
  }
  .box:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
    background-color:blue;
    color:white;
  }
  .stats{
    margin-top: 5%;  
    display:flex;
    width: fit-content;
  }
  .bio-section{
      display:flex;
      width:fit-content;
  } 

  /*Smaller Phones */
@media (min-width: 320px) and (max-width: 480px){
  .stats{
    flex-direction: column;
    margin-bottom: 2%;
  }
  .box{
    width: 100%;
    min-height: 235px;
    margin-top: 5%;
    margin-bottom:15%;
  }
  .stats{
    margin-top: 30%;  
    display:flex;
    width: fit-content;
  }
  .profile-pic{
    margin-top: 10%;
  }
  .bio-section{
    margin-top: 10%;
  }
 }