.profile-pic{
    border: 2px solid black;
    border-radius: 50%;
} 

.profile{
    height: fit-content;
    color:white;
    width: 100%;
    padding: 2rem;
    
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.BTN{
  margin-left: 0.5%;
}
.bio-size{
  width: 100%;
}
.box {
    position: relative;
    width: 15vw;
    min-height: 200px;
    margin-right: 40px;
    background: #4089F6;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 5px 5px rgba(0,0,0,.15);
    transition: all .4s ease;
    padding-left: 19px;
    padding-right: 19px;
  }
  .box:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
    background-color:blue;
    color:white;
  }
  .stats{
    margin-top: 5%;  
    display:flex;
    width: fit-content;
  }
  .bio-section{
      display:flex;
      width:fit-content;
  } 

  
.spanner2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.Midspanner2{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.non-spanner2{
  text-align: center;
  text-indent: 2%;
}
.flip-card2 {
  font-size: 1rem;
  border: 4px solid white;
  cursor: pointer;
  background: inherit;
  width: 320px;
  height: 100%;
  padding: 8px;
  margin-bottom: 1.2rem;
  color:white;
  box-shadow: inset 0 0 2000px rgba(64, 137, 246, 0.7);
  transition: 200ms ease-out;
}
.flip-card2:hover{
  border: 4px solid white;
  transform: scale(1.05);
  box-shadow: inset 0 0 2000px rgba(64, 137, 246, 1);

}

#prev-game-title{
  margin-top: 4rem;
}
#bio{
  margin-top: 2rem;
  font-size: 18px;
  max-width: 30vw;
}
  /*Smaller Phones */
@media (min-width: 320px) and (max-width: 480px){
  #bio{
    font-size: 14px;
    max-width: 80vw;
  }
  .stats{
    flex-direction: column;
    margin-bottom: 2%;
  }
  .box{
    width: 100%;
    min-height: 235px;
    margin-top: 5%;
    margin-bottom:15%;
  }
  .stats{
    margin-top: 30%;  
    display:flex;
    width: fit-content;
  }
  .profile-pic{
    margin-top: 10%;
  }
  .bio-section{
    margin-top: 10%;
  }
 }