body{
  min-height: 100vh; 
  background-color: rgb(41, 42, 43);
  background-position: 0px -30vh; 
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(33, 114, 229, 0.1) 0%, rgba(33, 36, 41, 0) 100%);
  background-size: cover;
  background-attachment: fixed;
}
.App {
  text-align: center;
}

ul{
  list-style-type: none;
}
nav {
  width: 100%;
}


li a{
  text-decoration: none;
  color: black;
}

.link-style{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.name{
  font-size: 3.5rem;
  color: rgb(39, 33, 33);
}


#folders {
  position: relative;
  right: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
#folders > li {
  background-color:  rgb(255, 103, 103);
  width: 90%;
  height: 3rem;
  border-radius: 1rem;
  line-height: 3rem;
  transition: all 100ms ease-out;
}
#folders > li:hover {
  box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  background-color:  rgb(255, 50, 50);

}

#title {
  margin-left: 1%;
  width: 68%;
  text-align: left;
}
.parent {
  font-size: 2.5rem;
  line-height: 2rem;

}
.name {
  font-size: 2rem;
  font-weight: bold;
  mix-blend-mode: difference;
}

.home-pro-pic{
  border: 2px solid whitesmoke;
  border-radius: 50%;

}

#header-line{
  width: 100%; 
  border: 1px solid #4F4D4D;
  margin-bottom: 2%;
}



@media only screen and (min-width : 1001px) and (max-width: 1439px){
  #header-line{
    width: 100%;
  }
}
@media (min-width:1025px){

}
/*Bigger Phones + Ipad landscape */
@media (min-width: 768px) and (max-width:1024px) {
  nav{
    width:65%;
  }
  #header-line{
    width:100%;
  }
  #title{
    width: 68%;
    text-align: left;
    margin-top: 1rem;
   }
   #folders{
    margin-top: 80%;
    margin-bottom: 2rem;
    margin-left: -65%;
   }
   .home-pro-pic{
    position: absolute;
    left: 95%;
    top: 8%;
   }
}
/*Medium size devices Portrait + Landscape for Phones */
@media (min-width: 481px) and (max-width:767px){
  #header-line{
    width:100%;
  }
  #title{
    width: 68%;
    text-align: left;
    margin-left: 17%;
    margin-top: 2rem;
    margin-bottom: 14rem;
   }
   #folders{
    margin-top: 80%;
    margin-bottom: 2rem;
    margin-left: -65%;
   }
   .home-pro-pic{
    position: absolute;
    left: 85%;
    top: 8%;
    height:10%;
   }
   
}
/* Phones Portrait*/
@media (min-width: 320px) and (max-width: 480px){
#header-line{
   width:100%;
 }
 #title{
  width: 68%;
  text-align: left;
  margin-left: 3%;
  margin-top: 2rem;
  margin-bottom: 20rem;
 }
 #folders{
  margin-top: 80%;
  margin-bottom: 2rem;
  margin-left: -65%;
 }
 
 .home-pro-pic{
  position: absolute;
  top: 7%;
  right: 5%;
  height: 15%;
 }
}