.App {
  text-align: center;
}

ul{
  list-style-type: none;
}

li a{
  text-decoration: none;
}

.link-style{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.name{
  font-size: 3.5rem;
  color: rgb(39, 33, 33);
}