body{
  min-height: 100vh; 
  background-color: rgb(41, 42, 43);
  background-position: 0px -30vh; 
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(33, 114, 229, 0.1) 0%, rgba(33, 36, 41, 0) 100%);
  background-size: cover;
  background-attachment: fixed;
}
.App {
  text-align: center;
}

ul{
  list-style-type: none;
}
nav {
  width: 150vw;
}
div a{
  width:20%; 
  height:75%;
}

li a{
  text-decoration: none;
  color: black;
}

.link-style{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.name{
  font-size: 3.5rem;
  color: rgb(39, 33, 33);
}


#folders {
  position: relative;
  right: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
#folders > li {
  background-color: greenyellow;
  width: 90%;
  height: 3rem;
  border-radius: 1rem;
  line-height: 3rem;
  transition: all 100ms ease-out;
}
#folders > li:hover {
  box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  background-color: green;

}

#title {
  margin-left: 1%;
  width: 100%;
  text-align: left;
}
.parent {
  font-size: 2.5rem;
  line-height: 2rem;

}
.name {
  font-size: 2rem;
  font-weight: bold;
  mix-blend-mode: difference;
}

.home-pro-pic{
  border: 2px solid black;
  border-radius: 50%;
  width: 75%;
}

#header-line{
  width: 100%; 
  border: 1px solid #4F4D4D;
  margin-bottom: 2%;
}

@media only screen and (min-width : 1px) and (max-width: 1000px){
  #header-line{
    margin-bottom: 8%;
    width: 80vw;
  }
}

@media only screen and (min-width : 1001px) and (max-width: 1439px){
  #header-line{
    width: 65vw;
  }
}